@mixin slider-control {
    flex-direction: column;
    position: absolute;
    right: 12px;
    bottom: 170px;
    width: 60px;
    color: $meridian-secondary-light;
    text-align: center;
    @extend .shadow-sm;
    display: none;
    @include media-breakpoint-up(md) {
        display: flex;
    }
}

@mixin slider-item {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    background: $meridian-primary;
    cursor: pointer;
    transition: $transition-default;
    &:hover {
        background: darken($meridian-primary, 10%);
    }
}

.slider-control{
    @include slider-control();
}

.arrow-up, .arrow-down{
    @include slider-item();
}

.slider-caption{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $meridian-primary;
    height: 30px;
    
}

.arrow-up, .slider-caption{
    border-bottom: 1px solid #ddd;
    border-bottom-color: rgba(0,0,0,.1);
}

#map-container{
   background: $meridian-primary;
   position: relative;
}
#mapid{
    height: 100vh;
}
.map-panel {
    padding: 0 12px;
}

.map-content{
    padding: 6px 0;
    background: white;
    margin-top: $brnadbar-height-st+$toggler-height*0.9;
    width: $header-width-st;
    max-width: $header-max-width-st;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    @include media-breakpoint-down(sm) {
        margin:$brnadbar-height-st+$toggler-height*0.9 auto;
        position: absolute;
        right: 0;
        left: 0;
    }
    @include media-breakpoint-up(md) {
        max-width: $header-max-width-md;
        width: $header-width-md;
        margin: $brnadbar-height-lg+$toggler-height*0.9 $page-side-offset-md;
    }
    @include media-breakpoint-up(lg) {
        width: $header-width-lg;
    }
    @include media-breakpoint-up(xl) {
        width: $header-width-xl;
        margin: $brnadbar-height-lg+$toggler-height*0.9 $page-side-offset-xl;
    }
    @include media-breakpoint-up(hd) {
    width: $header-width-hd;
    margin: $brnadbar-height-lg+$toggler-height*0.9 $page-side-offset-hd;
  }
    position: fixed;
    z-index: 1000;
    display: none;
}
.close-button{
    float: right;
    cursor: pointer;
}
.slide img{
    object-fit: cover;
    height: 300px;
    max-width: 100%;
    min-width: 100%;
}

.slide{
    display: none;
}

.slideshow{
    height: 300px;
}

.counter {
    font-family: inherit;
}

.custom-marker-left-up,.custom-marker-right-up,.custom-marker-left-down,.custom-marker-right-down{
    background: transparent url('/media/bwc-sprite-marker-2.png') no-repeat 0 0;
    width: 160px !important;
    height: 100px !important;
    &:focus {
        outline:none;
    }
    &:hover, &.active{
        color:white;
    }
    h4, h5{
      font-size: 16px;
      text-align: center;
      font-family: 'Exo', sans-serif;
    }
}

.custom-marker-left-up{
    background-position: 0px -540px;
    padding: 14px 28px 28px 28px;
    margin: -86px 0 0 -141px !important;
    &:hover, &.active{
        background-position: -222px -540px;
    }
}

.custom-marker-right-up{
    background-position: 0 -658px;
    padding: 27px 28px 26px 30px;
    margin: -100px 0 0 -18px !important;
    &:hover, &.active{
        background-position: -222px -658px;
    }
}

.custom-marker-left-down{
    background-position: 0 -934px;
    padding: 36px 28px 18px 28px;
    margin: 2px 0 0 -141px !important;
    &:hover, &.active{
        background-position: -222px -935px;
    }
}

.custom-marker-right-down{
    background-position: 0 -791px;
    padding: 35px 28px 17px 28px;
    margin: 2px 0 0 -18px !important;
    &:hover, &.active{
        background-position: -222px -792px;
    }
}

#mapid .leaflet-control-zoom{
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bolder;
    font-size: 22px;
    flex-direction: column;
    position: fixed;
    top: calc(50vh - 72px - 10px);
    right: 24px;
    color: $meridian-secondary-light;
    text-align: center;
    @extend .shadow-sm;
    display: none;
    @include media-breakpoint-up(md) {
        display: flex;
    }

}

#mapid .leaflet-control-zoom-in, #mapid .leaflet-control-zoom-out{
    color: black;
    @include control;
    width: 72px;
    text-indent: 1px;
    &:hover{
        text-decoration-line: none;
    }
}

.leaflet-container {
    
    background: #9e918b url(/media/background-map.jpg) no-repeat center;
    cursor: default;
}

.leaflet-control-attribution{
    display: none;
}

.leaflet-bar{
    border: none !important;
    @extend .shadow-sm;
}

// .background-map{
//     pointer-events: none;
//     position: absolute;
//     object-fit: fill;
//     height: 100%;
//     width: 100%;
//     z-index: 1;
//     opacity: 0.7;
// }