@mixin pagination {
    flex-direction: column;
    position: fixed;
    top: calc(50vh - 72px - 10px);
    right: 24px;
    width: 72px;
    background-color: $meridian-primary;
    color: #636364;
    text-align: center;
    @extend .shadow-sm;
    display: none;
    @include media-breakpoint-up(md) {
        display: flex;
    }
}

@mixin control {
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #e3e1df;
    cursor: pointer;
    transition: $transition-default;
    &:hover {
        background: darken(#e3e1df, 10%);
    }
}
#pagination {
    @include pagination
}


#page-up, #page-down {
    @include control
}

#page-count {
    position: relative;
    padding: 10px 0;
}

#current-page,
#total-pages {
    font-size: 1.2rem
}