#scroll-to-top {
  @include control;
  opacity: 1;
  flex-direction: row;
  position: fixed;
  bottom: 50px;
  right: 15px;
  width: 144px;
  color: $meridian-secondary-light;
  text-align: center;
  padding: 6px 0;
  height: initial;
  @include media-breakpoint-up(md) {
    bottom: 0;
    width: 72px;
    right: 24px;
    flex-direction: column;
  }

  

  &.hide{
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    background: darken($meridian-primary, 10%);
  }
}

