$theme-colors: (
  "custom-color": #e224c9
);

$meridian-color: theme-color("custom-color");

section {
  height: 100vh;
}

#brand {
  @include float-left;
}

.custom-element {
    color: gray("100");
    background-color: $meridian-color;
}