$theme-colors: ( "meridian-primary": #EAE3D9);
$theme-colors: ( "meridian-secondary-light": #6D6E70);
$theme-colors: ( "meridian-secondary-dark": #404041);
$meridian-primary: theme-color("meridian-primary");
$meridian-secondary-light: theme-color("meridian-secondary-light");
$meridian-secondary-dark: theme-color("meridian-secondary-dark");